<%= render 'shared/calendar_entry_header' %> 

<%= form_for @event, :remote => true, :html => {:class => "calendar_entry_form", :id => "calendar_entry_form"} do |f| %>

<%= render :partial => 'shared/calendar_entry_guts', :locals => {:f => f}  %>

   <hr width="75%"/>
   <%= f.label :repeat, :class => "small_label" %>
   <%= select_tag :repeat,
                  options_for_select([["None", "1"], 
                                       ["Weekly", "2"]
                                       ])
                  %>
   <div class="calendar_repeat_weekly">
      <%= label_tag :weekly_repeat, "Repeat at the same time every:", :style => "font-weight:normal;" %>
      
      <ul>
         <li><%= f.check_box :on_monday %>Monday</li>
         <li><%= f.check_box :on_tuesday %>Tuesday</li>
         <li><%= f.check_box :on_wednesday %>Wednesday</li>
         <li><%= f.check_box :on_thursday %>Thursday</li>
         <li><%= f.check_box :on_friday %>Friday</li>
         <li><%= f.check_box :on_saturday %>Saturday</li>
         <li><%= f.check_box :on_sunday %>Sunday</li>
      </ul>
   </div>

   <hr size="1" width="70%">
   <% RepeatingEvent.HTML_color_names.each do |color, name| %>
      <ul class="calendar_entry_colors">
         <%= render :partial => 'shared/calendar_entry_color', :locals => {:f => f, :color => color, :name => name} %>
      </ul>
   <% end %>
   

   <%= render 'shared/calendar_entry_submit_button' %>
<% end %>
