<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js' %>


<div id='calendar' class="calendar"></div>

<div id="calendar_entry" class="calendar_entry">
   <div id="calendar_entry_header" class="calendar_entry_header">Today February 14</div>
   <%= form_tag(new_event_path, :method=>'get', :remote => :true, :class => "calendar_entry_form") do %>
      <%= hidden_field "calendar", "the_working_day" %>
      <%= label_tag :class_name, "Add an event or class" %><br />
      <%= text_field_tag :class_name, 'new class name', :size => 32 %>
      
      <hr width="75%"/>
      <%= label_tag :repeat, "Repeat", :class => "small_label" %>
      <%= select_tag :repeat,
                     options_for_select([["None", "1"], 
                                          ["Weekly", "2"]
                                          ])
                     %>
      <hr width="75%"/>
      <%= submit_tag "Add event" %>
   <% end -%>

</div>

<hr />

<% if 1 == 0 %>


   <%= calendar_for(@styles) do |t| %>
     <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>
     <% t.day(:day_method => :created_at) do |day, styles| %>
       <%= day.day %><br/>
       <% styles.each do |style| %>
         <%= style.name %>
         <small><%= style.created_at %></small>
         <br/>
       <% end %>
     <% end %>
  <% end %>
<% end %>
   