<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js' %>


<div id='calendar' class="calendar"></div>

<div id="calendar_entry" class="calendar_entry">
   <div id="calendar_entry_header" class="calendar_entry_header">Today February 14</div>
   <%= form_tag(new_event_path, 
               :method=>'get', 
               :remote => :true, 
               :class => "calendar_entry_form",
               :id => "calendar_entry_form") do %>
      <%= hidden_field "calendar", "the_working_day" %>
      <%= hidden_field "calendar", "id" %>
      <%= label_tag :class_name, "Add an event or class" %><br />
      <%= text_field_tag :class_name, nil, {:size => 32, :placeholder => 'Class title'} %>
      <%= text_area_tag :class_description, nil, {:class => "class_description"} %>
      
      <hr width="75%"/>
      <%= label_tag :repeat, "Repeat", :class => "small_label" %>
      <%= select_tag :repeat,
                     options_for_select([["None", "1"], 
                                          ["Weekly", "2"]
                                          ])
                     %>
      <div class="calendar_repeat_weekly">
         <%= label_tag :weekly_repeat, "Repeat at the same time every:", :style => "font-weight:normal;" %>
         
         <ul>
            <li><%= check_box_tag :weekly_repeat, 'Monday' %>Monday</li>
            <li><%= check_box_tag :weekly_repeat, 'Tuesday' %>Tuesday</li>
            <li><%= check_box_tag :weekly_repeat, 'Wednesday' %>Wednesday</li>
            <li><%= check_box_tag :weekly_repeat, 'Thursday' %>Thursday</li>
            <li><%= check_box_tag :weekly_repeat, 'Friday' %>Friday</li>
            <li><%= check_box_tag :weekly_repeat, 'Saturday' %>Saturday</li>
            <li><%= check_box_tag :weekly_repeat, 'Sunday' %>Sunday</li>
         </ul>
      </div>
      <hr width="75%"/>
      <%= submit_tag "Add event", :id => "calendar_submit_button" %>
   <% end -%>

</div>

<hr />

<% if 1 == 0 %>


   <%= calendar_for(@styles) do |t| %>
     <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>
     <% t.day(:day_method => :created_at) do |day, styles| %>
       <%= day.day %><br/>
       <% styles.each do |style| %>
         <%= style.name %>
         <small><%= style.created_at %></small>
         <br/>
       <% end %>
     <% end %>
  <% end %>
<% end %>
   
