<div class="term_group round">
   <span class="term_group_name">
      <%= term_group.name %> 
   </span>
   <% unless term_group.name_translated.nil? %>
      &nbsp;==&nbsp;
      <span class="term_group_name_translated">
        <%= term_group.name_translated %> 
      </span>
   <% end %>
   [<%= link_to "X", 
           term_group, 
           :method => :delete, 
           :confirm => "Are you sure you want to delete #{term_group.name}?",
           :title => "Delete #{term_group.name}" %>]
   

   <% unless term_group.terms.nil? %>
      <%= render :partial => "terms/show.html.erb", :collection => term_group.terms, :as => :term %>
   <% end %>
   <%= link_to 'Add new term', new_term_path, :class => 'term_group_add_term' %>
</div>
<br />
