<% unless @term_groups.nil? %>
   <%= form_for @new_term do |f| %>
     <%= render 'shared/error_messages', :object => f.object %>
     <div class="label">
      New Term :
     </div>
     <div class="field">
       <% if Rails.env.development? %>
         <%= f.text_field :term, :value => Faker::Lorem.words().first %>
       <% else %>
         <%= f.text_field :term %>
       <% end %>
     </div>
     <div class="label">
      Translated :
     </div>
     <div class="field">
       <% if Rails.env.development? %>
         <%= f.text_field :term_translated, :value => Faker::Lorem.words().first %>
       <% else %>
         <%= f.text_field :term_translated %>
       <% end %>
     </div>
     <div class="label">
      Description :
     </div>
     <div class="field">
       <% if Rails.env.development? %>
         <%= f.text_area :description, :value => Faker::Lorem.sentences(3), :rows => 3 %>
       <% else %>
         <%= f.text_area :description, :rows => 3 %>
       <% end %>
     </div>
     <div class="label">
      Term Group :
     </div>
     <div class="field">
       <%= f.select(:term_group_id, @term_groups.collect {|c| [c.name, c.id]}, :selected => @selected_term_group_id) %>
     </div>
     <div class="actions">
       <%= f.submit "Submit" %>
     </div>
  <% end %>
<% end %>
