<% unless @term_groups.nil? %>
   <%= form_for @term, :multipart => true do |f| %>
     <%= render 'shared/error_messages', :object => f.object %>
     <div class="label">
      Original Term :
     </div>
     <div class="field">
       <% if Rails.env.development? and @term.term.nil? %>
         <%= f.text_field :term, :value => Faker::Lorem.words().first %>
       <% else %>
         <%= f.text_field :term %>
       <% end %>
     </div>
     <div class="label">
      Translated to our language :
     </div>
     <div class="field">
       <% if Rails.env.development? and @term.term_translated.nil? %>
         <%= f.text_field :term_translated, :value => Faker::Lorem.words().first %>
       <% else %>
         <%= f.text_field :term_translated %>
       <% end %>
     </div>
     <div class="label">
      Description :
     </div>
     <div class="field">
       <% if Rails.env.development? and @term.description.blank? %>
         <%= f.text_area :description, :value => Faker::Lorem.sentences(3), :rows => 3 %>
       <% else %>
         <%= f.text_area :description, :rows => 3 %>
       <% end %>
     </div>
     <% if not @term.filename.nil? %>
      <div class="label">
         Current image: <br />
         <%= image_tag(@term.filename) %>
      </div>
     <% end %>
     <div class="label">
      Upload an image for term:
     </div>
     <div class="field">
      <%= f.file_field :image %>
     </div>
     <div class="label">
      Put this into category :
     </div>
     <div class="field">
       <%= f.select(:term_group_id, @term_groups.collect {|c| [c.name, c.id]}, :selected => @selected_term_group_id) %>
     </div>
     <div class="actions">
       <%= f.submit "Submit" %>
     </div>
     
  <% end %>
<% end %>
