<% if @current_style.nil? %>
  <div id="name">
   Need to click on a style on the left
  </div>
<% else %>
   <%= form_for @new_term_group do |f| %>
     <%= render 'shared/error_messages', :object => f.object %>
     <div class="label">
      Date Test:
     </div>
     <div class="field">
       <%= f.text_field :created_at %>
     </div>

     <script type="text/javascript" charset="utf-8">
        //$('#term_group_created_at').click(function() { alert('hi');$('#term_group_created_at').datepicker(); });
        $(function() {
        		$( "#term_group_created_at" ).datepicker();
        	});
        //$('#term_group_created_at').click(function() );

     </script>






     <div class="label">
      New Term Group:
     </div>
     <div class="field">
       <% if Rails.env.development? %>
         <%= f.text_field :name, :value => Faker::Lorem.words().first %>
       <% else %>
         <%= f.text_field :name %>
       <% end %>
     </div>
     <div class="label">
      Translation:
     </div>
     <div class="field">
       <% if Rails.env.development? %>
         <%= f.text_field :name_translated, :value => Faker::Lorem.words().first %>
       <% else %>
         <%= f.text_field :name_translated %>
       <% end %>
     </div>
     
     
     <div class="actions">
       <%= f.submit "Submit" %>
     </div>
   <% end %>
<% end %>
   