<h1>Edit Studio</h1>

<%= form_for(@studio) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  
  <%= field_set_tag 'Address' do %>
     <div class="field">
       <%= f.label :address, "Street" %><br />
       <%= f.text_field :address %>
     </div>
     <div class="field">
       <%= f.text_field :address2 %>
     </div>
     <div class="field">
       <%= f.label :city, "City, State, ZIP/Postal code" %><br />
       <%= f.text_field :city %>
       <%= f.text_field :state, :size => 2 %>
       <%= f.text_field :postal_code, :size => 7 %>
     </div>
  <% end %>

  <%= field_set_tag 'Contact' do %>
     <div class="field">
       <%= f.label :telephone, "Telephone" %><br />
       <%= f.text_field :telephone %>
     </div>
     <div class="field">
       <%= f.label :fax, "Fax" %><br />
       <%= f.text_field :fax %>
     </div>
  <% end %>

  
  <div class="field">
    <%= f.label :time_zone %><br />
    <%= f.time_zone_select :time_zone %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @studio %>
  <a href="http://gravatar.com/emails">change</a>
</div>