<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
         <%= gravatar_for @studio, :size => 30 %>
         <%= @studio.name %>
       </h1>
       
       <% unless @studio.styles.empty? %>
         <table class="styles" summary="Studio styles">
            <%= render @studio.styles %>
         </table>
       <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @studio.name %><br />
      <strong>URL</strong>  <%= link_to studio_path(@studio.name), @studio %>
    </td>
  </tr>
</table>