<table class="profile" summary="Profile information">
  <tr>
    <td class="sidebar round">
      <strong>Name</strong> <%= @studio.name %><br />
      <strong>URL</strong>  <%= link_to @studio.name, @studio %>

      <% if not @studio.styles.nil? %>
         <table class="styles" summary="Studio styles">
            <tr><th>Styles</th></tr>
              <%= render @studio.styles %>
            <tr>
               <td>
                  <%= render 'shared/style_form' %>
               </td>
            </tr>
         </table>
      <% end %>
    </td>
    <td class="main" style="vertical-align:top;">
      <h1>
         <%= gravatar_for @studio, :size => 30 %>
         <%= @studio.name %>
       </h1>
       &nbsp;<br/>
       <% unless @current_style.nil? %>
          <div class="current_style round">
          <%= @current_style.name %>
          </div>
          <br />
          <%= link_to 'Add group of terms', new_term_group_path %>
          
          <%= render :partial => "term_groups/show.html.erb", :collection => @term_groups, :as => :term_group %>

       <% end %>
       
       <hr size="1">

       <hr size="1">
       <%= render 'shared/term_form' %>
       <% if Rails.env.development? %>
          <hr size="1">
          <style type="text/css" media="screen">
            dl.event
            {
            	margin: 2em 0;
            	padding: 0;
            	font-family: georgia, times, serif;
            }

            .event dt
            {
            	position: relative;
            	left: 0;
            	top: 1.1em;
            	width: 5em;
            	font-weight: bold;
            }

            .event dd
            {
            	border-left: 1px solid #000;
            	margin: 0 0 0 6em;
            	padding: 0 0 .5em .5em;
            }
          </style>
          Calendar Item Example
          <dl class="event">
          	<dt>23 March</dt>
          	<dd>Car club meeting</dd>
          	<dd>7pm</dd>
          	<dd>See a wide range of classic cars on display... </dd>
          	<dt>13 June</dt>
          	<dd>Cake stall</dd>
          	<dd>12pm</dd>
          	<dd>Cakes of every type. All proceeds go to the... </dd>
          </dl>
      <% end %>
    </td>
  </tr>
</table>
