<table class="profile" summary="Profile information">
  <tr>
    <td class="sidebar round">
      <strong>Name</strong> <%= @studio.name %><br />
      <strong>URL</strong>  <%= link_to studio_path(@studio.name), @studio %>

      <% if not @studio.styles.nil? %>
         <table class="styles" summary="Studio styles">
            <tr><th>Styles</th></tr>
              <%= render @studio.styles %>
            <tr>
               <td>
                  <%= render 'shared/style_form' %>
               </td>
            </tr>
         </table>
      <% end %>
    </td>
    <td class="main" style="vertical-align:top;">
      <h1>
         <%= gravatar_for @studio, :size => 30 %>
         <%= @studio.name %>
       </h1>
       <% unless @current_style.nil? %>
          <span class="current_style">
          <%= @current_style.name %>
          </span>
          <br />
          
          <% @term_groups.each do |term_group| %>
             <span class="term_group">
                <span class="term_group_name">
                  <%= term_group.name %> 
                </span>
                <% unless term_group.name_translated.nil? %>
                   ==
                   <span class="term_group_name_translated">
                     <%= term_group.name_translated %> 
                   </span>
                <% end %>
             </span>
             <br />
             
             <% unless term_group.terms.nil? %>
                <dl class="terms">
                <% term_group.terms.each do |term| %>
                   <dt class="term_term">
                      <%= term.term %> 
                   </dt>
                   <dd class="term_term_translated">
                      <%= term.term_translated %> 
                      <% unless term.description.nil? %>
                        <br />
                         <span class="term_term_description">
                            <%= term.description %> 
                         </span>
                      <% end %>
                   </dd>
                   <br />
                <% end %>
                </dl>
             <% end %>
          <% end %>
       <% end %>
       
       <hr size="1">
       <%= render 'shared/term_group_form' %>
       <hr size="1">
       <%= render 'shared/term_form' %>
       <br/>
       
    </td>
  </tr>
</table>